* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(bmw.jpg);
    animation: anim 3s ease-in-out 1s infinite alternate-reverse;
    background-size: cover;
    background-color: black;
    opacity: 0.90;
    background-repeat: no-repeat;
    height: 80vh;

}

@keyframes anim {

    from {
        background-position: center center;
    }

    to {
        background-position: right left;
    }
}

nav {
    max-width: 64vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 122px;

}

input {
    background-color: rgba(23, 23, 23, 0.4);
    box-shadow: 1px 5px 15px;

}

.sidenav {
    display: flex;
    flex-direction: column;
}

button {
    border: 2px solid aqua;
    border-radius: 10%;
    background-color: rgba(23, 23, 23, 0.4);
    box-shadow: 1px 5px 15px;
    color: white;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 50%;
    flex-direction: column;
    text-transform: capitalize;
    text-shadow: 5px 5px 23px;
    position: relative;
    left: 20%;
}

.hero :first-child {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: antiquewhite;

}

.hero :nth-child(2) {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 7);
    font-size: 12px;
    border: 2px solid;
    height: 20%;
    overflow: hidden auto;
    scrollbar-width: none;

}

.hero input {
    background-color: rgba(23, 23, 23, 0.4);

}

.caps {
   
    background-color: rgba(23, 23, 23, 0.4);
    text-align: center;
}
.cars{
    align-items: center;
    justify-content: center;
}

.box {
    height: 20vh;
    width: 40vw;
    align-items: center;
    background-image: url();
    overflow: auto auto;
    scrollbar-width: none;
    padding: 5px;
    position: relative;
    left: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
   

}

.box1 {
    height: 20vh;
    width: 87%;
    background-image: url(new\ \ car.webp);
    background-position: center center;
   
}
.box2 {
    height: 20vh;
    width: 87%;
    background-image: url(new\ car2.webp);
    background-position: center center;
}
.box3 {
    height: 20vh;
    width: 87%;
    background-position: center center;
    background-image: url(new\ car4.jfif);
}

.box4 {
    height: 20vh;
    width: 87%;
    background-image: url(new\ \ car.webp);
    background-position: center center;
}
.box5 {
    height: 20vh;
    width: 87%;
    background-image: url(new\ car5.jfif);
    background-position: center center;
}
.cut{
    position: relative;
    left: 40%;
    top: -10%;
}

